.button{
    outline: none !important;
    position: relative;
    width: 180px;
    line-height: 32px;
    background-color: transparent;
    border: 2px solid #66CC75;
    border-radius: 50px;
    font-weight: 900;
    font-size: 14px;
    color: rgb(0, 0, 0);
    margin-left: 0px;
    font-family: 'Times New Roman';
}
.button:hover{
    outline: none !important;
    background-color: #66CC75;
    border-radius: 50px;
    font-weight: 900;
    font-size: 14px;
    color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}
.button:after{
    outline: none !important;
}