/* Lazy Load Styles */
.card-image {
    display: block;
    background: #fff center center no-repeat;
    background-size: cover;
    /*filter: blur(3px); !* blur the lowres image *!*/
}

.card-image > img {
    display: block;
    width: 100%;
    height: 110px;
    opacity: 0; /* visually hide the img element */
}

.card-image.is-loaded {
    filter: none; /* remove the blur on fullres image */
    transition: filter 1s;
}




/* Layout Styles */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 16px;
    /*background: rgb(249, 255, 251);*/
}

.card-list {
    display: block;
    margin: 1rem auto;
    padding: 0;
    font-size: 0;
    text-align: center;
    list-style: none;
}

.card {
    display: inline-block;
    width: 250px;
    max-width: 20rem;
    height: 300px;
    margin: 1rem;
    font-size: 1rem;
    text-decoration: none;
    overflow: hidden;
    box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s;
    font-family: 'Times New Roman';
    font-weight: bold;

}

.card:hover {
    transform: translateY(-0.5rem) scale(1.0125);
    box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}
.shapkaspin{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    transition: all 0.6s;
}
.card:hover + .shapkaspin{
    border: 1px solid #66CC75;
}
.main:hover {
    color: #66CC75;
}

.card-description {
    display: block;
    padding: 1em 0.5em;
    color: #515151;
    text-decoration: none;
}

.card-description > h2 {
    margin: 0 0 0.5em;
}

.card-description > p {
    margin: 0;
}