.navbar {
    /*background-color: #00ffff;*/
    display: inline-block;
    vertical-align:top;
    background: linear-gradient(to right, #cc2d12 1%, #00a74d 40%);
    width: 100%;
    max-width: 100%;
    border-bottom: 3px solid #d5d5d5;
    /*font-family: 'Times New Roman';*/
}
h1{
    font-family: 'Times New Roman';
}

.container{
    max-width: 100%;
    /*font-family: 'Times New Roman';*/
}


.align-self-center {
    margin-left: 550px;
}
.logo a{
    text-decoration: none;
    color: white;
    font-size: 2.2em;
    align-content: center;
    font-weight: bold;
}
.logo a:hover{
    color: #e9e9e9;

}

.logoopis{
    color: white;
    /*font-family: 'Times New Roman';*/
}
.table-primary{
    background: linear-gradient(to top, #66CC75 0.1%, #66CC75 100%);
}
.btn{
    margin-top: 5px;
}
.text{
    /*font-weight: bold;*/
    color: #6E6E6E;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Times New Roman';
}
.text h1{
    color: rgba(0, 0, 0, 0.88);
    font-family: 'Times New Roman';
}
.text h4{
    color: rgba(0, 0, 0, 0.88);
    font-family: 'Times New Roman';
}
.textfotter{
    /*font-weight: bold;*/
    line-height: 18px;
    margin-left: 30px;
    font-family: 'Times New Roman';
}
